/* Общие стили для всей страницы */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    text-align: center;
}

/* Заголовки */
h1 {
  
    font-size: 50px;
 

}

h2 {
    font-size: 20px;
    color: #666;
}

p {
    font-weight:500;
    font-size: 16px;
    color: #555;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

input[type="text"] {
    width: 100px;
    padding: 5px;
    margin: 5px 0;
}

/* Результат */
#result {
    font-size: 18px;
    font-weight: bold;
    color: #080c08; 
}
